* {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

header {
	width: 100%;
}

.navigation {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo {
	width: 90px;
}

ul {
	display: flex;
	width: 30%;
	justify-content: space-between;
}

.contect-box-header {
	color: blue;
	margin: 10px;
}
.container {
	width: 100%;
	background-color: lightgray;
	margin-top: 20px;
	padding: 20px 0;
}
.content-box-text {
	color: gray;
	margin: 0 10px 10px 10px;
}

.main-content {
	display: flex;
	width: 90%;
	gap: 20px;
	margin: 0 auto;
	justify-content: center;
	flex-wrap: wrap;
}

.main-content > .content-box {
	background-color: white;
	width: 300px;
}

.content-box > img {
	width: 100%;
}

@media only screen and (max-width: 1050px) {
	ul {
		width: 50%;
	}
}


@media only screen and (max-width: 600px) {
	ul {
        width: 5%;
        flex-direction: column;
    }
}